.App {
  text-align: center;
  width: 50;
  height: 50;
  margin-left: 5%;
  margin-right: 5%;
  background-color:darkgray;
}

.box1 {
  background-color: rgb(163, 180, 151);
  width: 235px;
  height: 1000px;
  float: left;
  text-align: center;
}

.box3 {
  background-color: rgb(151, 175, 180);
  width: 235px;
  height: 1000px;
  float: left;
  text-align: center;
}

.box4 {
  background-color: rgb(187, 145, 145);
  width: 235px;
  height: 1000px;
  float: left;
  text-align: center;
}

.box5 {
  background-color: rgb(145, 153, 187);
  width: 235px;
  height: 1000px;
  float: left;
  text-align: center;
}

.box6 {
  background-color: rgb(145, 187, 161);
  width: 235px;
  height: 1000px;
  float: left;
  text-align: center;
}

.box7 {
  background-color: rgb(252, 253, 252);
  width: 188px;
  text-align: center;
  margin-left: 10%;
}

.box13 {
  background-color: rgb(169, 152, 184);
  width: 235px;
  height: 1000px;
  float: left;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.digitaalikello {
  text-align: center;
  align-items: center;
  background-color:lightgray;
}

.customers {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  align-items: center;
  background-color:rgb(108, 140, 143);
}

.products {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  align-items: center;
  background-color:rgb(104, 133, 116);
}

.users {
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px;
  padding-left: 20px;
  text-align: center;
  align-items: center;
  background-color:rgb(120, 104, 133);
}

.typicode {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  align-items: center;
  background-color:lightgray;
}

.Kello {
  /* margin-left: 400px; */
  border-radius: 20px;
  /* border-width: 5ch; */
  /* border-color:black; */
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 40%;
  margin-right: 40%;
  background-color:darkslategrey;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
